:root {
    --vs-border-width: 0;
    --vs-state-focus-box-shadow: none;
    --vs-border-radius: 8px;
    --vs-selected-font-weight: bold;
    --bg-color: white;
    --text-color: black;
    transition: background-color 0.4s ease, color 0.4s ease;
}

input[type="checkbox"] {
    zoom: 1.75;
}

.dark {
    --bg-color: black;
    --text-color: white;
}

.theme-wrapper {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.v-select {
    color: var(--text-color);
    background-color: var(--bg-color);
    min-width: fit-content;
    font-weight: bold;
}

.vs__open-indicator {
    background-color: var(--bg-color);
    color: var(--text-color);
    fill: var(--text-color);
    font-weight: bold;
}

.vs__selected {
    background-color: var(--bg-color);
    color: var(--text-color);
    fill: var(--text-color);
}

.vs--open.vs--unsearchable.vs--single {
    min-width: 8rem;
}

.vs--single{
    background-color: var(--bg-color);
    color: var(--text-color);
    fill: var(--text-color);
}

.vs__dropdown-menu {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-width: fit-content;
    overflow-x: hidden;
    font-weight: bold;
}

.vs__dropdown-option {
    color: var(--text-color);
    white-space: nowrap;
    font-weight: bold;
}

* {
    color: var(--text-color);
    box-sizing: border-box;
}

html, body, #app {
    overscroll-behavior: none;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}

h1 {
    margin: 0 0 8px;
}
